* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}
body {
    margin: 40px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }
.content{
  width: 30%;
  display:grid ;
  grid-template-columns: 1fr;
  gap: 12px;
}
.content-after{
  width: 60%;
  display:grid ;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
  
  .container{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 10px 0px #0000001c;
    padding: 40px;
    gap: 20px;
    border-radius: 12px;
  }

  #color-calculator{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.color-picker{
  cursor: pointer;
  width: 100%;
  height: 100px;
  padding: 12px;
  display: flex;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.color-picker:hover{
 background-color: #d7e6ff;
 border: 2px solid #005eff;
}
.color-picker:focus{
  border: 2px solid #005eff;
}

.btn{
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
  border: 0px solid ;
  border-radius: 8px;
  color: #ffffff;
  background: #005eff;
  }
.btn:hover{
  background: #0f67fe;
}
.text-pill{
  display: flex;
  width: fit-content;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 12px;
  border: 1px solid #333;
}
  .output{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .download-csv{
  font-size: 18px;
  font-weight: 400;
  color: #005eff;
  gap: 2px;
  padding: 0px;
  display: flex;
  border: 0px;
  background-color: #33333300;
  align-items: center;

  &:hover{
    cursor: pointer;
    color: #3a7bec;
  }

  }

  .pallete{
    padding: 20px;
    border-radius: 20px;
    
  }


.template{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dedede;
}

.error{
display: flex;
padding: 12px;
align-items: center;
gap: 4px;
background-color: #ffdcdc;
border-radius: 4px;
}

.hide{
  display: none;
}

.intro{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.links{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
}

.youtube{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
  align-items: center;
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.item{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;

}
.button{
  border: 0px solid;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #333;
}


.option-btn{
  font-size: 16px;
  padding: 8px 16px;
  border: 1.5px solid #dedede ;
  border-radius: 40px;
  color: #333;
  background: #ffffff;

  &:hover{
    cursor: pointer;
    background: #e9e9e9;
  }

  &:active{
    border: 1.5px solid #cacaca ;
    background: #cbcbcb;
  }
}